
.viewad-content {
	width: 450px;
	height: 480px;
}

.map {
	width: 190px;
	height: 130px;
}

.viewad-left {
	width: 240px;
}

.viewad-left table {
	width: 100%;
	border: none;
}

.viewad-right {
	width: 210px;
}

.viewad-left, .viewad-right {
	float: left;
	height: 480px;
}

.ui-dialog-titlebar-close {
	float: right;
	position: relative;
	top: -40px;
	z-index: 10000;
}

.title {
	color: #247984;
}

.text {
	float: right;
}
.text-ad {
	height: 100%;
	float: left;
}

.table-ad {
	height: 80%;
}

.ad-msg {
	font-size: 14px;
}
