.viewad-content {
	width: 420px;
	height: 440px;
}

.map {
	width: 185px;
	height: 130px;
}

.gallery {
	width: 185px;
	height: 190px;
}

.schedule {
	height: 95px;
}

.viewad-left {
	width: 205px;
	padding-right: 10px;
}

.viewad-left table {
	width: 100%;
	border: none;
	padding-right: 5px;
}

.viewad-right {
	width: 205px;
}

.viewad-left, .viewad-right {
	float: left;
	height: 440px;
}

.title {
	color: #247984;
}

.text {
	float: right;
	white-space: nowrap;
}

.text-ad {
	height: 220px;
	float: left;
}

.ad-msg {
	font-size: 8px;
}

h1, h2 {
	float: left;
	margin-top: 0;
}

.vieadad-offer-myoffer {
	display: inline;
	font-size: 20px;
	color: #247984;
	margin-right: 10px;
}

.vieadad-offer-first  {
	display: inline;
	font-size: 12px;
	color: #247984;
}

.vieadad-offer-first span {
	font-size: 20px;
}

.vieadad-offer-second  {
	font-size: 11px;
	color: #1e9cb2;
}
.viewad-offer input {
	width: 200px;;
}
.viewad-offer-cal {
	width: 380px;
	height: 335px;
}