
.viewad-content {
	width: 420px;
	height: 440px;
}


html {
	width: 420px;
	height: 440px;
}

.map {
	width: 185px;
	height: 130px;
}

.gallery {
	width: 185px;
	height: 190px;
}

.schedule {
	height: 95px;
}

.viewad-left {
	width: 205px;
	padding-right: 10px;
}

.viewad-left table {
	width: 100%;
	border: none;
	padding-right: 5px;
}

.viewad-right {
	width: 205px;
}

.viewad-left, .viewad-right {
	float: left;
	height: 440px;
}


.title {
	color: #247984;
}

.text {
	float: right;
	white-space: nowrap;
}
.text-ad {
	height: 220px;
	float: left;
}

.ad-msg {
	font-size: 8px;
}

h1, h2 {
	float: left;
	margin-top: 0;
}


.ui-dialog-titlebar-close {
	float: right;
	position: relative;
	top: -40px;
	z-index: 10000;
}