.profile {
	background-color: white;
	position: relative;
	width: 250px;
	height: 250px;
}

/* http://stackoverflow.com/questions/22577371/how-to-make-rectangular-image-appear-circular-with-css */
.profile-image {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 50%;
	background-color: red;
	width: 75px;
	height: 75px;
	position: absolute;
	left: 90px;
	top: 90px;
}

.profile-radar {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 50%;
	background-color: grey;
	width: 200px;
	height: 200px;
}