.profile {
	background-color: white;
	position: relative;
}

/* http://stackoverflow.com/questions/22577371/how-to-make-rectangular-image-appear-circular-with-css */
.profile-image {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 50%;
	background-color: red;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 75px;
	top: 75px;
}