.main-table {
	margin-top: 20px;
	width: 740px;
	font-size: 1em;
}

.main-table .ui-datatable-even, .main-table .ui-datatable-odd {
	height: 70px;
}

.main-table-header {
	text-align: initial;
}

.main-table>div>table>tbody>tr.saved>td:nth-child(1) {
	background-color: red;
}

.coldiv {
	padding: 0 0 0 8%;
	width: 100%;
}

.colcontent {
	width: 100%;
	}