.left {
	width: 740px; /* +10px margin-right */
	float: left;
	margin-right: 10px;
}

.right {
	width: 250px;
	float: left;
}

.right-profile {
	height: 250px;
}

.right-data {
	margin-top: 20px;
	height: 270px;
	border: 1px;
}

.map-div {
	width: 330px;
	height: 250px;
	margin-right: 10px;
	float: left;
	background-color: white;
}

.map {
	width: 320px;
	height: 240px;
	margin: 5px;
}

.schedule-div {
	height: 250px;
	width: 400px;
	float: left;
	background-color: white;
}

.schedule {
	width: 390px;
	height: 240px;
	margin: 5px;	
}

.table {
	margin-top: 20px;
	width: 740px;
	font-size: 1em;
}

.table tr {
	height: 70px;
}

.table-header {
	text-align: initial;
}

.tablecol-description {
	font-size: 0.7em;
}



.help {
	width: 30px;
	height: 50px;
	background-color: red;
	position: fixed;
	right: 0px;
	top: 45%;
}

.left-floating {
	width: 30px;
	height: 50px;
	background-color: red;
	position: fixed;
	left: 0px;
	top: 45%;
}