.map-div {
	width: 330px;
	height: 250px;
	margin-right: 10px;
	float: left;
	background-color: white;
}

.map {
	width: 320px;
	height: 240px;
	margin: 5px;
}

.schedule-div {
	height: 250px;
	width: 400px;
	float: left;
	background-color: white;
}

.schedule {
	width: 390px;
	height: 240px;
	margin: 5px;	
}

