.index-header {
	height: 120px;
}

.index-header-inner {
	width: 1000px;
	margin: auto auto;
	padding: 20px;
}

.index-upper {
	background: url("#{resource['img/info/top_background.png']}") no-repeat center;
	margin: auto;
	width: 100%;
	height: 635px;
}

.header-login,.header-howitworks {
	float: right;
	font-size: 1.5em !important;
	margin-left: 20px;
	margin-top: 20px;
	text-decoration: none;
	color: #28b7c5;
}

.header-login:hover,.header-howitworks:hover {
	color: #247984;
}

.index-content {
	width: 1000px;
	margin: auto;
}

.top,.bottom {
	height: 500px;
	width: 1000px;
	margin: auto auto;
	padding-top: 15px;
}

.top {
	background: #49e431;
	border-radius: 15px;
}

.bottom {
	position: relative;
	background-color: white;
}

.left,.right {
	width: 470px;
	float: left;
	padding: 15px;
}

.imgbox {
	width: 470px;
	height: 300px;
	background-color: white;
}

.imgbox-left {
	background: url("#{resource['img/info:balkep.png']}");
}

.imgbox-right {
	background: url("#{resource['img/info:jobbkep.png']}");
}


.imgbox-button {
	height: 40px;
	width: 390px;
	display: block;
	margin: auto auto;
	position: relative;
	top: -20px;
}

.rousing-text {
	width: 470px;
	color: white;
	margin: auto auto;
	font-size: 14px;
	padding-bottom: 15px; 
}

.knowmore-link {
	color: white;
	width: 190px; /* +10 padding */
	height: 25px; /* +10 padding */
	display: block;
	margin: auto auto;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	background-color: #49e431;
	cursor: pointer;
	border-radius: 15px;
}

.steps-header {
	font-size: 20px;
}

.step-regisztralj {
	background: url("#{resource['img/info:regisztralj.png']}");
}

.step-vegeztesdel {
	background: url("#{resource['img/info:vegeztesd el.png']}");
}
.step-valogass {
	background: url("#{resource['img/info:valogass.png']}");
}
.step-toltsdfel {
	background: url("#{resource['img/info:toltsd_fel.png']}");
}
.step-keszitsdel {
	background: url("#{resource['img/info:keszitsd_el_hirdetesed.png']}");
}
.step-igazold {
	background: url("#{resource['img/info:igazold_madad.png']}");
}
.step-fizess {
	background: url("#{resource['img/info:fizess.png']}");
}
.step-ertekelj {
	background: url("#{resource['img/info:ertekelj.png']}");
}

.step {
	background-repeat: no-repeat;
	padding-left: 70px;
	padding-top: 15px;
	width: 500px;
	height: 50px;
}

.login-overlay {
	
}

.registration-overlay {
	width: 300px;
}

.attention-text1 {
	width: 390px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	margin: auto auto;
	text-align: center;
}

.attention-text2 {
	width: 390px;
	font-size: 16px;
	color: #1d5c62;
	margin: auto auto;
	text-align: center;
}