body {
	background: url("#{resource['img/layout:alap_hatter.png']}");
}

.page {
	position: relative;
}

.header {
	background: #4de336;
}

.content {
	width: 1000px;
	margin: auto;
	margin-top: 20px;
}

.header-inner {
	width: 1000px;
	margin: auto auto;
	height: 50px;
}

.left {
	width: 740px; /* +10px margin-right */
	float: left;
	margin-right: 10px;
}

.right {
	width: 250px;
	float: left;
}

.right-profile {
	height: 250px;
}

.right-data {
	margin-top: 20px;
	/* 	height: 270px; */
	border: 1px;
}

.help {
	position: fixed;
	right: 0px;
	top: 45%;
}

.left-floating {
	width: 50px;
	height: 50px;
	position: fixed;
	left: 0px;
	font-size: 13px;
	color: white !important;
	text-align: center;
	display: table; 
	overflow: hidden;
}

.postad {
	top: 15%;
	background-color: #f26522;
	display: table-cell;
	vertical-align: middle;
}

.points {
	top: 20%;
	background-color: #efae61;
	display: table-cell;
	vertical-align: middle;
}