body {
	background: url("#{resource['img/layout:alap_hatter.png']}");
}

.page {
	position: relative;
}

.header {
	background: #4de336;
}

.content {
	width: 1000px;
	margin: auto;
	margin-top: 20px;
}

.header-inner {
	width: 1000px;
	margin: auto auto;
	height: 50px;
}

.left {
	width: 740px; /* +10px margin-right */
	float: left;
	margin-right: 10px;
}

.right {
	width: 250px;
	float: left;
}

.right-profile {
	height: 250px;
}

.right-data {
	margin-top: 20px;
	/* 	height: 270px; */
	border: 1px;
}

.help {
	position: fixed;
	right: 0px;
	top: 45%;
}

.left-floating {
	width: 70px;
	height: 70px;
	position: fixed;
	left: 0px;
	font-size: 13px;
	color: white !important;
	text-align: center;
	display: table;
	overflow: hidden;
	font-size: 17px;
}

.postad {
	top: 115px;
	background-color: #f26522;
	display: table-cell;
	vertical-align: middle;
}

.points {
	top: 190px;
	background-color: #efae61;
	display: table-cell;
	vertical-align: middle;
}

.ui-widget-overlay.postad-overlay {
	background-color: #f2966b;
	width: 370px;
	height: 540px;
	opacity: 1;
}

.ui-widget-overlay.points-overlay {
	background-color: white;
	width: 430px;
	height: 370px;
	opacity: 1;
}

.ui-widget-overlay.help-overlay {
	background-color: white;
	width: 430px;
	height: 370px;
	opacity: 1;
}