/* kizárólag login.xhtml számára */
.logo {
	margin-bottom: 10px;
}
.maxsize {
	width: 450px;
	height: 47px;
	padding: 0;
	width: 265px;
}

.email {
	background: url("#{resource['img/login:mail.png']}") no-repeat !important;
}

.password {
	background: url("#{resource['img/login:kulcs.png']}") no-repeat !important;
}

.icon-input {
	padding-left: 20px;
}

.login-panel {
	text-align: center;    
	margin: 10px auto auto auto;
}
