.logo {
	margin-bottom: 10px;
}

.email {
	background-image: url("#{resource['img/login:mail.png']}") !important;
}

.password {
	background-image: url("#{resource['img/login:kulcs.png']}") !important;
}

.login-panel {
	width: 250px;
	margin-top: 20px;
	text-align: center;
}

.login-input {
	margin-bottom: 10px;
	width: 220px !important;
	height: 30px;
	padding-right: 0px;
}