.fileupload-buttonbar {
    background: transparent none;
    border: none;
}

.fileupload-content {
    display: none;
}

.ui-fileupload .fileinput-button {
    background-color: rgba(142, 103, 64, 0.98);
}

.zipcode {
	width: 50px;
}

.postad-upload-outer {
	display: table-caption;
	vertical-align: middle;
	background: white;
	width: 60px;
	height: 60px;
}

.postad-upload {
	width: 46px;
	height: 33px;
	margin-right: auto;
	margin-top: 10px;
}

.postad-upload .ui-fileupload-buttonbar {
	background: transparent none;
	border: none;
	width: 46px;
	height: 33px;
	cursor: pointer;
}

.postad-upload .ui-fileupload-content {
	display: none;
}

.postad-upload .ui-fileupload-buttonbar .ui-fileupload-choose {
	background: url("#{resource['img/postad:narancs__fenykepzo.png']}");
	background-repeat: no-repeat;
	width: 46px;
	height: 33px;
	border: 0 !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	margin: auto auto;
}

.postad-upload .ui-fileupload-buttonbar .ui-fileupload-choose .ui-icon {
	display: none;
}

.postad-upload .ui-fileupload-choose input {
	height: 33px;
	width: 46px;
}

.ui-selectonemenu.postad-category {
	width: 320px !important;
	height: 30px !important;
}

.postad-title {
	color: white;
	font-size: 18px;
}

.postad-subtitle {
	color: white;
	font-size: 16px;
}

.postad-text {
	color: white;
	font-size: 12px;
}

.postad-text-small {
	color: white;
	font-size: 10px;
}

.ui-inputfield.postad-adressbox{ 
	width : 50px !important;
}

.postad-homework{
	float: right;
}

.postad-maxoffer {
	width: 170px;
}

.ui-widget-overlay.postad-timetableoverlay{
	width: 800px;
	height: 200px;
	opacity: 1;
}