html,body {
	width: 1000px;
	margin: auto;
	padding: 0;
	height: 100%;
	background-image: url("../img/background-pattern.png");
	background-repeat: repeat;
	
	font-family: 'Jolly Lodger', cursive;
}

#page {
	min-height: 100%;
	position: relative;
}

#header {
	background: #ff0;
	padding: 10px;
}

#content {
	padding: 10px;
	padding-bottom: 60px; /* Height of the footer */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Height of the footer */
	background: #6cf;
}

#help {
	width: 30px;
	height: 50px;
	background-color: red;
	position: fixed;
	right: 0px;
	top: 45%;
}

.ui-panelgrid {
	border: none;
}


.icon-input {
	padding-left:50px;
	width: 400px;
}