html,body {
	padding: 0;
	margin: 0;
	background-image: url("../img/background-pattern.png");
	background-repeat: repeat;
	background-color: wheat;
	font-family: 'Jolly Lodger', cursive;
}

.page {
	min-height: 100%;
	position: relative;
}

.header {
	background: #4de336;
}

.content {
	width: 1000px;
	padding-bottom: 100px; /* Height of the footer */
	margin: auto;
	min-height: 100%;
	margin-top: 20px;
}


.header-inner{
	width: 1000px;
	margin: auto auto;
	height: 50px;
}


.help {
	width: 30px;
	height: 50px;
	background-color: red;
	position: fixed;
	right: 0px;
	top: 45%;
}

.ui-panelgrid {
	border: none;
}


.icon-input {
	padding-left:50px;
	width: 400px;
}