html,body {
	padding: 0;
	margin: 0;
	background: url("#{resource['img/alap:alap_hatter.png']}");
	font-family: 'Jolly Lodger', cursive;
}

.ui-panelgrid {
	border: none;
}


.icon-input {
	padding-left:50px;
	width: 400px;
}
