.header-inner {
	padding-top: 5px;
}

.home-link {
	background-image: url("#{resource['img/logo.png']}");
	height: 40px;
	width: 128px;
}

.messages-link {
	background-image: url("#{resource['img/help.png']}");
	height: 40px;
	width: 128px;
}

.header-right {
	float: right;
}

