.header-inner {
	padding-top: 5px;
}

.home-link {
	background-image: url("#{resource['img/logo.png']}");
	height: 40px;
	width: 128px;
}

.messages-link {
	background-image: url("#{resource['img/help.png']}");
	height: 40px;
	width: 128px;
}

.header-right {
	float: right;
}

.header-icondiv {
	border-right: 2px solid white;
	float: right;
	height: 45px;
	width: 48px;
}

.header-icon {
	height: 25px;
	margin: auto auto;
	display: block;
	margin-top: 7px;
}

.header-balance {
	width: 145px;
}

.header-balance .header-icon {
	margin-left: inherit;
	margin-right: inherit;
	float: left;
}