.registration-input {
	background: url("#{resource['img/registration:ember.png']}") !important;
}

.password-input {
	background: url("#{resource['img/registration:kulcs.png']}") !important;
}

.address-input {
	background: url("#{resource['img/registration:pointer.png']}") !important;
}

.email-input {
	background: url("#{resource['img/registration:mail.png']}") !important;
}

.icon-input {
	padding-left: 30px;
	background-repeat: no-repeat !important;
	background-position: 10px 10px !important;
}

.screen-registration-input {
	margin-bottom: 10px;
	width: 220px !important;
	height: 30px;
	padding-right: 0px;
}

.registration-panel {
	width: 250px;
	margin-top: 20px;
}

.registration-conditions {
	font-size: 7px;
}